# dependencies
node_modules/
.env
env
# logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# runtime data
pids/
*.pid
*.seed
*.pid.lock

# build output
dist/
build/

# coverage
coverage/
.nyc_output/

# environment
.env
.env.*

# editor/OS
.DS_Store
Thumbs.db
.idea/
.vscode/

# misc
*.tmp
*.temp

# test binaries
test/.mongodb-binaries/
